pydantic
openai 
langchain
langchain_community
langchain-openai
langchainhub
langchain-chroma
docarray
langchain[docarray]
pytube 
python-dotenv
tiktoken 
ruff
pymupdf
bs4
arxiv
ragas
tqdm
gpt4all
huggingface_hub
langchain_huggingface
pypdf
rapidocr-onnxruntime
git+https://github.com/openai/whisper.git